.manage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.manage-box {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    max-height: 900px;
    height: 100%;
    max-width: 600px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.manage-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 90%;
    overflow: scroll;
}
.manage-list::-webkit-scrollbar {
    display: none;
}

.manage-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}


.btn-action-green {
    background-color: #089F08;
    color: white;
    width: 48%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-inline: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}


.manage-list {
    list-style-type: none;
    padding: 0;
}

.manage-item {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    transition: background-color 0.3s;
    width: 80%;
    max-width: 600px;
    margin: 10px auto;
}


.manage-item:hover {
    background-color: #eaeaea;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}


.manage-Btn {
    background-color: #43A715;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}


.manage-detailsBtn {
    background-color: #43A715;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-action-green {
    background-color: #089F08;
    color: white;
    width: 48%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-inline: 10px;
    margin-bottom: 10px;
}

.manage-UpdateBtn {
    background-color: #43A715;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.manage-deleteBtn {
    background-color: #43A715;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.manage-deleteBtn:hover {
    background-color: #389e12;
}

.manage-UpdateBtn:hover {
    background-color: #389e12;
}

.btn-profile-manage{
    background-color: #007bff;
    color: white;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    padding: 12px;
    margin-top: auto;
}

.btn-profile-manage:hover{
    background-color: #0056b3;
}
