/* styles/CadastroMotorista.css */

body {
  overflow-x: auto;
  overflow-y: auto;
  background: rgb(191, 255, 176);
  background: linear-gradient(90deg, rgba(191, 255, 176, 0.3) 30%, rgba(238, 255, 241, 0) 52%, rgba(191, 255, 176, 0.37) 70%);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Ajusta a justificativa para o início */
  height: 100vh;
  padding-top: 150px; /* Adiciona espaço superior para mover o formulário para baixo */
  overflow-y: auto;
  box-sizing: border-box;
}

.titleContainer {
  font-size: 64px;
  font-weight: bolder;
  color: darkgreen;
  margin-bottom: 20px;
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 3%;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
  margin-bottom: 10px;
}

.errorLabel {
  color: red;
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 10px;
}


.logo {
  position: fixed;
  top: 20px; /* Distância do topo */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajusta a posição para realmente centralizar */
  width: 250px; /* Aumente o tamanho conforme necessário */
  height: auto; /* Mantém a proporção */
  z-index: 1000; /* Garante que o logo fique acima de outros elementos */
}




.cadastrar {
  border: none;
  background: rgb(8, 159, 8);
  color: white;
  padding: 12px 24px;
  margin: 8px;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
  width: 400px;
}

.cadastrar:hover {
  background-color: green;
}
