
.container-1 {
    position: relative;
    height: 100vh;
}

.search-box {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.error-messages {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
    width: 470px;

}

.address-icon-box input {
    width: 100%;
    padding: 12px 16px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border 0.3s, box-shadow 0.3s;
}

.address-icon-box {
    margin-bottom: 1rem;
}

.suggestions-list {
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    position: absolute;
    width: 100%;
    z-index: 10;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.suggestion-item {
    padding: 10px 16px;
    cursor: pointer;
    font-size: 0.9rem;
    color: #333;
}

.suggestion-item:hover {
    background-color: #f8f9fa;
    color: #007bff;
}

.address-icon-box input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.travel-mode-select {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.travel-mode-select select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.buscar-carona-box-button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buscar-carona-box-button:hover {
    background-color: #45a049;
}

.map {
    position: relative;
    width: 100%;
    height: 100%;
}
